
button {
    margin-top:20px;
    margin-bottom: 30px;
}

.my-class{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width:700px;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    border-radius: 50px;
    background-color: turquoise;

}

input { 
    margin-bottom: 20px;
}
.video-class{
    margin-top: 20px;
}
h4{
    text-align: center;
}
.top-30{
    margin-top: 30px;
    padding-top: 30px;
}

.top-50{
    margin-top: 50px;
}
#videoElement {
    height: 600px;
}

#inputGroupFile04{
    margin-top: 40px;
}